<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:blueviolet; font-size: 40px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <i> Welcome to {{ title }}! </i>
  </h1>
</div>
<div style="margin: 0 10% 10% 10%;">
  <mat-card>
    <div class="form-container">
        <div style="color:white;">
          <b>
            <i>
                Confused about what gift to send to your friends, family or colleagues? Probing through the internet for hours and cannot find anything good? 
                No worries. Just tell us a few things and we'll send 3 amazing 
                gift ideas along with appropriate links directly to your email in 24 hours. 
                Be rest assured that your data is safe with us.
            </i>          
          </b>
        </div>
        <br/>
        <mat-form-field>
            <input matInput style="color:white;" placeholder="Enter your first name" [(ngModel)] = "infoForGift.FirstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput style="color:white;" placeholder="Enter your email" [(ngModel)] = "infoForGift.Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter the occasion like birthday, wedding, house-warming etc.," 
            style="color:white;" [(ngModel)] = "infoForGift.Ocassion">
        </mat-form-field>
        <mat-form-field>
            <input matInput style="color:white;" placeholder="Enter your relation with the person" [(ngModel)] = "infoForGift.Relation">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput style="color:white;" placeholder="Tell us something about the person 
            like specific interests, age range, ethnicity etc.,"
            [(ngModel)] = "infoForGift.Others"></textarea>
        </mat-form-field>
    </div>
    <mat-card-actions>
          <button (click) = "sendDetailsToMe()" mat-raised-button color="primary" style="text-align:center;">Send Me Gift Ideas!!</button>
    </mat-card-actions>
  </mat-card>
</div>
