/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-image: url("desktop-1985856_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}